*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;
    background:
    radial-gradient(circle at top,#3b2a00,#050505 55%);
    color:white;
    overflow-x:hidden;
}


/* Header */

header{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}


header h1{
    font-size:70px;
    letter-spacing:8px;
    color:#d4af37;
    text-shadow:
    0 0 10px #d4af37,
    0 0 30px #8a6b00;
}


header p{
    margin-top:20px;
    font-size:20px;
    color:#ddd;
    letter-spacing:3px;
}


/* Button */

button{
    margin-top:40px;
    padding:18px 45px;
    border:none;
    border-radius:30px;
    background:#d4af37;
    color:black;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
}


button:hover{
    transform:scale(1.1);
    box-shadow:
    0 0 20px #d4af37;
}



/* Application */

#application{
    width:90%;
    max-width:600px;
    margin:auto;
    padding:40px;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(15px);
    border:1px solid #d4af37;
    border-radius:20px;
}


#application h2{
    text-align:center;
    color:#d4af37;
    margin-bottom:30px;
}


input,
textarea{

    width:100%;
    padding:15px;
    margin:10px 0;

    background:#111;
    border:1px solid #555;
    color:white;

    border-radius:10px;
}


textarea{
    height:120px;
}


.submit{
    width:100%;
}


/* Hidden */

.hidden{
    display:none;
}



/* Mobile */

@media(max-width:700px){

header h1{
    font-size:40px;
}

header p{
    font-size:14px;
}

}
header{
    animation: fadeIn 1.5s ease;
}


header h1{
    animation: glow 2s infinite alternate;
}


@keyframes glow{

    from{
        text-shadow:
        0 0 10px #d4af37,
        0 0 20px #d4af37;
    }

    to{
        text-shadow:
        0 0 30px #d4af37,
        0 0 60px #8a6b00;
    }

}


@keyframes fadeIn{

    from{
        opacity:0;
        transform:translateY(40px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}


body::before{

    content:"";
    position:fixed;
    inset:0;

    background:
    linear-gradient(
    120deg,
    rgba(212,175,55,.15),
    transparent,
    rgba(0,0,0,.8)
    );

    pointer-events:none;

}
